.box {
    display: flex;
    border: 1px dashed red;

    width: 160px;
}

.box div {
    flex-basis: 100%;
    border: 1px solid;
    flex: 1 0 40px;
}

.box div:nth-child(2), .box div:nth-child(3) {
    flex-shrink: 2;

}

