<!DOCTYPE html>

<%- include('../partials/head', {pagina: "About" }); %>

<body class="container">
    <%- include('../partials/header', {pagina: 'About'}); %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Olá! Sou Rafael Jurkfitz, um estudante de engenharia.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus magni, porro eveniet rerum hic tenetur quo
                repellat atque saepe doloribus, soluta ut architecto! Necessitatibus maiores consequuntur soluta quod,
                voluptate laboriosam!</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>  
</body>
</html>