p {
    font-family: "Times New Roman", sans-serif;
    font-weight: normal;
    
    font-family: 'Lato', sans-serif;
    font-variant:  small-caps;
    font-stretch: expanded;
    word-spacing: 4px;
    line-height: 1.6;
    text-transform: lowercase;
    text-decoration: underline orange;
    text-align: center;
    text-shadow: 1px 1px 8px blue,
    2px 2px 1px orange;

    font: italic normal bold normal 3em/1.5 Helvetica, Arial, sans-serif;
}    